body {
  font: 18px Ubuntu, "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

button {
  font-size: 15px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 90px;
  height: 90px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 90px;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
}

.game-info {
  margin-left: 20px;
}

.game-status {
  font-size: 125%;
  margin-top: -5px;
}

.choose {
  font-size: 150%;
  text-align: center;
}

.choose strong {
  font-size: 110%;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.options .square {
  font-size: 55px;
}
.options .square:hover {
  font-size: 65px;
}
@media only screen and (max-width: 512px) {
  .game {
    display: block;
    width: 268px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
  }

  .game-info {
    margin-top: 20px;
  }

  .options .square {
    font-size: 30px;
    line-height: 60px;
    height: 60px;
    width: 60px;
  }

  .options .square:hover {
    font-size: 40px;
  }
}
